@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --page-width: 1100px;
}

html {
  --color-neutral: 255 255 255;
  --color-muted: 255 255 255;
  --color-inverted: 0 0 0;
  --color-green: 3 130 0;
  --color-yellow: 255 203 0;
  --color-text-neutral: 32 32 32;
  --color-text-muted: 128 128 128;
  --color-text-link: 39 46 226;
}

html.dark {
  --color-neutral: 21 21 21;
  --color-muted: 32 32 32;
  --color-inverted: 255 255 255;
  --color-green: 3 130 0;
  --color-yellow: 255 203 0;
  --color-text-neutral: 223 223 223;
  --color-text-muted: 128 128 128;
  --color-text-link: 92 142 255;
}

html {
  @apply text-base;
}

@media screen and (max-width: 768px) {
  html {
    @apply text-base-mobile;
  }
}

body {
  @apply font-body;
}

strong {
  @apply font-semibold;
}

a {
  @apply text-link;
}

p {
  @apply my-2;
}

nav > a {
  color: inherit;
}

@layer utilities {
  .row {
    @apply flex flex-row;
  }

  .col {
    @apply flex flex-col;
  }
}
